<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/user.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <% let {user, borrowReq, borrowlist, books} = all %>
    <% let currentlyBorrowed = borrowlist.filter(e => e.status === 'borrowed' || e.status === 'overdue') %>

    <section class="main">
        <div class="welcome">
            <marquee behavior="" direction="">
                WELCOME <%= user.name.split(' ')[0] %>
            </marquee>
            <div class="current-list">
                <div class="current-title">List of currently borrowed Books</div>
                <div class="books">
                    <% currentlyBorrowed.forEach(e => { %>
                        <div class="bk">
                            <div class="bk-title"><span class="title">Name:</span> <%= e.title %></div>
                            <div class="bk-title"><span class="title">ISBN:</span> <%= e.bookIsbn %></div>
                            <div class="bk-title"><span class="title">Due Date:</span> <%= e.due_date %></div>
                            <div class="bk-title"><span class="title">Status:</span>
                                <% if(e.status === 'borrowed'){ %>
                                    <%= e.status %>
                                <% }else{%>  
                                    <%= e.overdue_days %><%= e.status %>
                                <% } %>      
                            </div>
                        </div>
                    <% }); %>
                    <div class="scrollbar"><div class="scroll"></div></div>
                </div>
            </div>
        </div>
        
    </section>



    <script>
        var menuBtn = document.querySelector('.menu-btn');
        var list = document.querySelector('.list');

        menuBtn.addEventListener('click', function(){
            (list.style.display === 'none') ? list.style.display = 'block' : list.style.display = 'none';
        });
    </script>
</body>
</html>